@{
    ViewBag.Titulo = "Cadastrar pagamento";
}

@model Aluno

    <div class="container">
        <div class="text-center">
          <h1>Formulário</h1>
    </div>
    <form method="post" action="/Home/Salvar">
        <div class="row">
          <div class="col">
              <label asp-for="Id" class="form-label">ID:</label>
             <input asp-for="Id" readonly="readonly" class="form-control"/>
          </div>
          <div class="col">
            <label asp-for="Nome" class="form-label">Nome:</label>
            <input asp-for="Nome" class="form-control"/> 
          </div>
          <div class="col">
            <label asp-for="Curso" class="form-label">Curso:</label>
            <input asp-for="Curso" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label asp-for="Idade" class="form-label">Idade:</label>
            <input asp-for="Idade" class="form-control"/>
          </div>
          <div class="col">
            <label asp-for="Email" class="form-label">Email:</label>
            <input asp-for="Email" class="form-control"/>
          </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success mb-3 mt-3 w-25">Salvar</button>
            <a href="/Home/Listar" class="btn btn-danger w-25">Voltar</a>
        </div>
    </form>
        <div class="text-center">
        </div>
    </div>
